.content {
  flex: 1;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  article {
    header {
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
      h1,
      h2 {
        margin: 0;
      }
      h2 {
        margin-top: 1rem;
        font-size: 1.8rem;
        color: $fg-color;
        @media only screen and (max-device-width: 768px) {
          font-size: 1.6rem;
        }
      }
    }
  }
}

.avatar img {
  width: 20rem;
  height: auto;
  border-radius: 50%;
  @media only screen and (max-device-width: 768px) {
    width: 10rem;
  }
}

.list {
  .list-items {
    margin: 3.2rem 0 3.2rem 0;
    list-style: none;
    padding: 0;
    .list-item {
      font-weight: bold;
      position: relative;
      height: 6rem;
      font-size: 1.5rem;
      display: flex;
      .list-date {
        display: inline-block;
        width: 20rem;
        text-align: right;
        margin-right: 3rem;
      }
      .list-tags {
        font-weight: normal;
        text-decoration: underline;
        display: flex;
        .list-tag {
          font-size: 1rem;
        }
      }
      .list-wordcount {
        font-size: 1rem;
      }
    }
  }
  @media only screen and (max-device-width: 768px) {
    .list-items {
      .list-item {
        flex-direction: column;
        height: auto;
        font-size: 1.6rem;
        margin: 1.6rem 0 1.6rem 0;
        .list-date {
          font-size: 1rem;
          width: auto;
          display: block;
          text-align: left;
        }
        .list-tags {
          display: none;
        }
      }
    }
  }
}

.centered {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  .about {
    text-align: center;
    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
    h2 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 2.4rem;
      @media only screen and (max-device-width: 768px) {
        font-size: 2rem;
      }
    }
    ul {
      list-style: none;
      margin: 3rem 0 1rem 0;
      padding: 0;
      li {
        display: inline-block;
        position: relative;
        a {
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: 1.6rem;
          @media only screen and (max-device-width: 768px) {
            font-size: 1.4rem;
          }
          i {
            font-weight: 400;
            font-size: 25px;
          }
        }
      }
    }
  }

  .error {
    text-align: center;
    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      font-size: 4.6rem;
      @media only screen and (max-device-width: 768px) {
        font-size: 3.2rem;
      }
    }
    h2 {
      margin-top: 2rem;
      margin-bottom: 3.2rem;
      font-size: 3.2rem;
      @media only screen and (max-device-width: 768px) {
        font-size: 2.8rem;
      }
    }
  }
}
