<section class="container list">
  <ul class="list-items">
    {{ range .Paginator.Pages }}
    <li class="list-item">
      <div class="list-date">
        {{ .Date.Format "2006-01-02" }}
        <div class="list-wordcount">共{{.WordCount}}字</div>
      </div>
      <div class="list-content">
        <a class="list-title" href="{{ .URL }}">{{ .Title }}</a>
        <div class="list-tags">
          {{ range .Params.tags }}
              <a class="list-tag" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </div>
      </div>
      <!-- <span>{{ .WordCount }}字, </span> -->
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>

